* {
    margin: 0;
    padding: 0; 
}

body {
    min-width: 320px; 
    width: 100vw; 
    height: 100vh; 
    background-color: white;
    color: couleur(text); 
    font-family: 'Crimson Text', serif;
}

h1 {font-size: 30px;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}
h4 {font-size: 17px;}
h5 {font-size: 14px;}
h6 {font-size: 8px;}
p {
    font-size: 13px;
    padding-top: 2vh; 
}
a {font-size: 13px}

@include tablet {
    h1 {font-size: 50px;}
    h2 {font-size: 40px;}
    h3 {font-size: 28px;}
    h4 {font-size: 25px;}
    h5 {font-size: 20px;}
    h6 {font-size: 12px;}
    p {
        font-size: 16px;
        padding-top: 1.5vh; 
    }
    a {font-size: 20px}
}

@include desktop {
    h1 {font-size: 60px;}
    h2 {font-size: 50px;}
    h3 {font-size: 45px;}
    h4 {font-size: 30px;}
    p {
        padding-top: 2vh; 
    }
    a {font-size: 25px}
}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}
a:link, a:visited, a:hover, a:active {
    text-decoration: none; 
    color: couleur(text); 
}

em {
    font-style: normal;
    color:couleur(couleurDecorative);
}

body::after {
    content: ""; 
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    @include tablet {
        clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 93%, 0 88%); 
    }
    @include desktop {
        clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 93%, 0 88%); 
    }
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    z-index: -1; 
    background-color: couleur(primaire); 
}

.grille {
    display: grid; 
    width: 80%; 
    padding-top: 5vh;  
    margin: 0 auto; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "menu menu menu"
        "entete entete entete"
        "principal principal principal"
        "pied-page pied-page pied-page"; 

    @include mobile {
        grid-template-areas: 
            "menu menu menu"
            "entete entete entete"
            "principal principal principal"
            "annonce1 annonce1 annonce1"
            "annonce2 annonce2 annonce2"
            "pied-page pied-page pied-page"; 
    }
    @include desktop {
        grid-template-areas: 
        "menu menu menu"
        "entete entete entete"
        "principal principal annonce1"
        "principal principal annonce2"
        "pied-page pied-page pied-page";
    }
}

#entete {
    margin-bottom: 1vh; 
    @include desktop {
        height: 14vh; 
    }
    grid-area: entete; 
    text-align: center; 
    font-family: 'Crimson Text', serif;
}

#entete h2 {
    display: none; 
    @include desktop {
        display: block; 
    }
}

#menu {
    grid-area: menu; 
    height: 2vh;
    margin: 0 auto 3vh;
    @include tablet {
        margin: 0 auto 2vh; 
    }
    @include desktop {
        margin: 0 auto 5vh; 
    }
    width: 70%; 
    display: flex; 
    justify-content: space-between;
}

#principal {
    height: 70vh; 
    grid-area: principal;
    @include mobile {
        height: 40vh; 
    }
    @include desktop {
        height: 50vh; 
        padding: 5vh 5vw 0 0; 
    }
}

#deroulement {
    height: 80%; 
    margin-top: 2vh; 
    overflow: auto; 
    @include desktop {
        height: 100%;  
        margin-top: 0; 
    }
}

#principal h3 {
    font-family: 'Crimson Text', serif;
    text-align: center; 
    @include desktop {
        text-align: left; 
        width: 95%;
    }
}

#annonce1 {
    display: none; 
    grid-area: annonce1; 
    margin: 7vh 0 4.5vh; 
    padding: 20px;
    background-color: couleur(annonce);
    border-top: 2px solid couleur(annonc_pale);
    border-left: 2px solid couleur(annonce_pale);
    border-right: 2px solid couleur(annonce_fonce);
    border-bottom: 2px solid couleur(annonce_fonce);
    @include mobile {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-evenly;
        margin: 0 0 2vh; 
    }
    @include desktop{
        display: block; 
        margin: 7vh 0 4.5vh; 
    }
}

#annonce1 h4 {
    padding-left: 16px; 
    @include tablet {
        width: 100%; 
        text-align: center; 
    }
}

#annonce1 img {
    display: block;
    margin-right: 2vw;
    height: 64px;  
    @include mobile {
        height: 32px; 
    } 
    @include tablet {
        height: 54px; 
    } 
    @include desktop {
        height: 32px; 
    }
}

#annonce1 p {
    display: flex; ;
    align-items: center;
    @include tablet {
        width: 48%; 
    }
    @include desktop {
        width: 100%; 
    }
}

#annonce2 {
    display: none; 
    grid-area: annonce2; 
    padding-left: 20px; 
    @include mobile {
        padding-left: 0; 
        display: block;
        text-align: center; 
    }
    @include desktop {
        display: block;
        text-align: left; 
    }
}

#annonce2 p {
    @include mobile {
        padding-top: 1vh; 
    }

    @include tablet {
        padding-top: 2vh; 
    }
}

footer {
    margin-top: 5vh;
    width: 60%; 
    margin-left: 40vw; 
    text-align: right; 
    grid-area: pied-page; 
    color: couleur(credit); 
    @include tablet {
        width: 100%; 
        margin-left: 0; 
        text-align: center; 
        margin-top: 8vh; 
    }
    @include desktop {
        margin-top: 14vh; 
    }
}